<!-- Modal Editar oferta-->
<div class="modal fade" id="mod-edit-@oferta.id" role="dialog">

	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
		@form(action=routes.AgenteMarketingController.oferta_new(), 'enctype -> "multipart/form-data"){
		<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Agregar nueva oferta</h4>
		</div>

	<div class="modal-body">


		@errores_formulario	


		<div class="table-responsive">

			<div class="form-inline">
				<div class="form-group pull-right">
					<button type="button" class="btn btn-primary" onclick="$('table tr td:nth-child(9) :checkbox:not(:checked)').closest('tr').attr('visible','false');recount()">Checkeados</button>
				</div>

				<div class="form-group pull-right">
					<button type="button" class="btn btn-primary" onclick="$('table tr td:nth-child(9) :checkbox:not(:checked)').closest('tr').attr('visible','true');document.getElementById('search3').value='';recount()">Todos</button>
				</div>

				<div class="form-group pull-right">
					<input type="text" class="search3 form-control pull-right" placeholder="Busqueda">
					<span class="counter3"></span>
				</div>
			</div>

			<div class="tablecontainer col-xs-12">
				<table class="table table-hover table-bordered results3">
					<thead>
						<tr>
						<th class="col-md-2 col-xs-2">Codigo</th>
						<th class="col-md-2 col-xs-2">Imagen</th>
						<th class="col-md-3 col-xs-3">Nombre</th>
						<th class="col-md-1 col-xs-1">Genero</th>
						<th class="col-md-2 col-xs-2">Descripcion</th>
						<th class="col-md-3 col-xs-3">Precio</th>
						<th class="col-md-5 col-xs-5">Categoria</th>
						<th class="col-md-3 col-xs-3 center-column">Marcar</th>
						<th class="col-md-2 col-xs-2 center-column">Cantidad</th>
						</tr>
						<tr class="warning no-result3">
						<td colspan="4"><i class="fa fa-warning"></i> No hay resultados</td>
						</tr>
					</thead>
					<tbody>
						@for(producto <- productos_list){<!-- productos a incluir en la oferta-->
							<tr>
								<td>@producto.codigo</td>
								<td height="90"><img src="@routes.AdministradorController.getProductImage(producto.id)" class="img-thubnail"  width="75"/></td>
								<td>@producto.nombre</td>
								<td>@if(producto.genero==1){Masculino}else{@if(producto.genero==2){Femenino}else{Unisex}}</td>
								<td>@producto.descripcion</td>
								<td>$ @producto.precio</td>
								<td>@producto.existencias</td>
								<td>@producto.categoria.nombre</td>
								<td><input type="checkbox" id="check-@producto.id" onclick="document.getElementById('inp-@producto.id').disabled = !document.getElementById('check-@producto.id').checked;"></td>
								<td><input type="number" style="width: 50px;" id="inp-@producto.id" name="cantidad[@producto.id]" min="0" max="@producto.existencias" disabled="disabled"></td>
							</tr>
						}
					</tbody>
				</table>
			</div>



			<br>
			<br>
			<br>

			<label for="imagen" class="control-label">Imagen Promosional:</label>
			<input type="file"  name="imagen" id="imagen" class="filestyle form-control" data-buttonText="Seleccione Imagen" data-buttomName="btn-primary" data-iconName="glyphicon glyphicon-picture" onchange="if (this.files && this.files[0]) {var reader = new FileReader();reader.onload = function (e) {$('#preview').attr('src', e.target.result);};reader.readAsDataURL(this.files[0]);}">


			<center>
				<img id="preview" class="img-responsive" src="#" alt="Preview"/>
			</center>

			<br>


			<div class="form-group">
				@inputText(oferta_form("codigo"), '_showConstraints -> false , '_showErrors -> false,'class -> "form-control", 'placeholder -> "Codigo del producto", '_label -> "Codigo de Oferta: ")
			</div>

			<div class="form-group">
				@inputText(oferta_form("nombre"), '_showConstraints -> false , '_showErrors -> false,'class -> "form-control", 'placeholder -> "Nombre del producto", '_label -> "Nombre: ")
			</div>

			<div class="form-group">
				@inputText(oferta_form("descripcion"), '_showConstraints -> false , '_showErrors -> false,'class -> "form-control", 'placeholder -> "Descripción", '_label -> "Descripción: ")
			</div>


			<div class="row">
				<div class="col-lg-6">
					<div class="form-group">
						@inputText(oferta_form("fecha_inicio"),'style -> "width: 250px", 'id -> "datepicker-inicio", '_showConstraints -> false , '_showErrors -> false,'class -> "form-control", 'placeholder -> "Seleccione", '_label -> "Fecha inicio: ")
					</div>
				</div>
				<div class="col-lg-6">
					<div class="form-group">
						@inputText(oferta_form("fecha_fin"),'style -> "width: 250px", 'id -> "datepicker-fin",'_showConstraints -> false , '_showErrors -> false,'class -> "form-control", 'placeholder -> "Seleccione", '_label -> "Fecha fin: ")
					</div>
				</div>
			</div>


			<div class="form-group">
				@inputText(oferta_form("precio"), '_showConstraints -> false , '_showErrors -> false,'class -> "form-control", 'placeholder -> "29.1", '_label -> "Precio: ")
			</div>

			<!-- <div class="form-group">
			@select(oferta_form("genero"), options("1" -> "Masculino", "2" -> "Femenino", "3" -> "Unisex"), '_showConstraints -> false , '_showErrors -> false,'class -> "form-control", 'placeholder -> "Genero",'_label -> "Genero: ")
			</div> -->


		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar</button>
		</div>
		}
	</div>
</div>
<!--Modal fin editar oferta-->