@(username: String, nombre: String, tipo: String)

@css={
    <!-- <link rel="sytlesheet" media="screen" href="@routes.Assets.versioned("stylesheets/chat.css")"/> -->
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.versioned("font-awesome/css/font-awesome.min.css")"> -->

    <style>
        #message-box {
          height: 400px;
          overflow-y: scroll;
         }

         .users-box {
          height: 430px;
          overflow-y: scroll;
         }

         .atendiendo {
          height: 220px;
          overflow-y: auto;
         }
    </style>
}

@js={
    <script type="text/javascript" src="@routes.ChatController.communication_api(username,nombre,tipo)"></script>

    <script language="javascript">
        function myPopup(url, windowname, w, h, x, y)
        {
            window.open(url, windowname, "resizable=no, toolbar=no, scrollbars=yes, menubar=no, status=no, directories=no, width=" + w + ", height=" + h + ", left=" + x + ", top=" + y);
        }
    </script>
}

@cliente.base("Cliente CRM","Chat","Contacta con uno de nuestros agentes","chat",css,js){

<div class="row " style="padding-top:0px;margin-left:100px;">

    <!--CONTENEDOR MENSAJES-->
    <div class="col-md-8 span8 offset2">
        <div class="panel panel-info">
            <div class="panel-heading">
                MENSAJES: <span id="actual-nombre-conversation-indicator"></span> (<span id="actual-username-conversation-indicator"></span>)
            </div>
            <div class="panel-body" id="message-box">
                <center><img id="loading" src="@routes.Assets.versioned("images/loading.gif")"/></center>

                <ul class="media-list " id="socket-messages">


                    <!--AQUI SE COLOCARAN TODOS LOS MENSAJES-->


                </ul>
            </div>

            <div class="panel-footer">
                <div class="input-group">
                    <input type="text"  id="socket-input" class="form-control" placeholder="Escribe un mensaje" />
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button" id="send-button">ENVIAR</button>
                    </span>
                </div>
            </div>

        </div>
    </div>
    <!--FIN CONTENEDOR MENSAJES-->

    <!--CONTENEDOR USUARIOS EN LINEA-->
    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">
               <center>CONVERSACION</center>
            </div>
            <div class="panel-body">
                <ul class="media-list atendiendo nav nav-pills nav-stacked" id="conversation-list">

                    <!--  AQUI ESTARAN TODA LAS CONVERSACIONES-->

                    
                </ul>
            </div><!--fin panel body-->
        </div><!--fin panel--> 
    </div><!--fin contenedor usuario en linea-->
    <!--FIN CONTENEDOR USUARIOS EN LINEA-->


</div>
}