@cliente.base("Cliente CRM","Incidentes","Reporta cualquier problema con tu compra","incidentes"){
    
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Crear nueva incidencia</h3>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group col-lg-8">
                            <label for="formGroupExampleInput">Codigo de compra</label>
                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                        </div>
                        <div class="form-group col-lg-8">
                            <label for="formGroupExampleInput2">Descripcion del problema</label>
                            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
                        </div>
                    </form>
                </div>
            </div>           
        </div>
    </div>


    <div class="row">
    <div class="col-lg-8">
        <h2>Listado de incidencias</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Cliente</th>
                        <th>Descripcion problema</th>
                        <th>Resolucion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="active">
                        <td>0153</td>
                        <td>Maria Hernandez</td>
                        <td>Celular malo</td>
                        <td>Cambio de equipo</td>
                    </tr>
                    <tr class="success">
                        <td>0153</td>
                        <td>Maria Hernandez</td>
                        <td>Celular malo</td>
                        <td>Cambio de equipo</td>
                    </tr>
                    <tr class="warning">
                        <td>0153</td>
                        <td>Maria Hernandez</td>
                        <td>Celular malo</td>
                        <td>Cambio de equipo</td>
                    </tr>
                    <tr class="danger">
                        <td>0153</td>
                        <td>Maria Hernandez</td>
                        <td>Celular malo</td>
                        <td>$1644.43</td>
                    </tr>
                    <tr>
                        <td>0153</td>
                        <td>Maria Hernandez</td>
                        <td>Celular malo</td>
                        <td>Cambio de equipo</td>
                    </tr>
                    <tr>
                        <td>0153</td>
                        <td>Maria Hernandez</td>
                        <td>Celular malo</td>
                        <td>Cambio de equipo</td>
                    </tr>
                    <tr>
                        <td>0153</td>
                        <td>Maria Hernandez</td>
                        <td>Celular malo</td>
                        <td>Cambio de equipo</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /.row -->
}